:root{
    --g1: linear-gradient(35deg, orange, rgb(255, 136, 0));
}

body{
    background: linear-gradient(145deg, #232627 ,#000000);
    min-height: 100vh;
    padding-bottom: 5vh;
}
html{
    scroll-behavior: smooth;
}

*{
    padding: 0;margin: 0;
    color: white;
    transition:0.8s ease;
    font-size: 1.1rem;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vmin 5vmin;
    backdrop-filter: blur(25px);
    box-shadow: 10px 0 25px rgba(255, 166, 0, 0.445);
    position: sticky;
    top: 0;
    z-index: 15;
}

nav{
    display: flex;
    gap: 2vmin;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav a {
    padding: 1vmin 2vmin;
    background: var(--g1);
    text-decoration: none;
    font-weight: 900;
    border-radius: 25px;
        text-shadow: 0 2px 5px black;
}

a{
    text-decoration: none  ;
}

.logo{
    background: rgb(255, 255, 255);
    border-radius: 50px;
}
footer{
    text-align: center;
    font-size: 16px;
}

.email{
    font-style: italic;
}
@media (width>1000px) {
    h1{
        font-size: 3.2rem;
    }
    nav a{
        font-size: 0.9rem;
    }
    nav a:hover, .cta:hover{
        background: var(--g1);
        filter: brightness(110%);
        transform: translateY(-5px);
        box-shadow: 10px 0 25px rgba(255, 166, 0, 0.445);
    }
    footer{
        text-align: center;
        font-size: 1.3rem;
    }
}